<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<link rel="stylesheet" th:href="@{/css/profile.css}" />
	<title>新闻推荐系统-个人主页</title>
</head>
<body>
	<div class="my-container">
		<!-- 头部 -->
		<header class="bg-dark sticky-top" th:replace="index::header"></header>

		<!-- 内容 -->
		<div class="main">
			<div class="container">
				<!-- 个人信息 -->
				<div class="information pb-3">
					<div class="row">
						<div class="col-md-8">
							<div class="media">
								<img th:src="${user.headerUrl}" class="align-self-center ml-4 mr-4 rounded-circle" alt="用户头像" style="width:60px; height:60px;">
								<div class="media-body">
									<div class="name mt-3" th:utext="${user.username}"></div>
									<div class="mt-2">
										<span class="item">投稿</span>
										<span class="count">1213</span>
										<span class="item">关注</span>
										<span class="count">1213</span>
										<span class="item">粉丝</span>
										<span class="count">1213</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<span class="op float-right">
								<button class="operate-btn align-self-end">关注</button>
								<button class="operate-btn align-self-end">私信</button>
							</span>

						</div>
					</div>
				</div>
				<div class="head-list mt-3">
					<div class="tab">
						<a href="javascript:void(0);" class="active">投稿<span>65109</span></a>
						<a href="javascript:void(0);">关注<span>65109</span></a>
						<a href="javascript:void(0);">粉丝<span>65109</span></a>
					</div>
				</div>
				<div class="article-list collapse">
<!--					<div class="content-view">-->
<!--						<div class="nothing">-->
<!--							TA还没有发布文章-->
<!--						</div>-->
<!--					</div>-->
					<div class="content-view">
						<div class="article-item pb-3 bd-bottom">
								<a class="title wrap-content" title="黄山管委会：清明小长假第三天景区游览秩序井然" href="#">黄山管委会：清明小长假第三天景区游览秩序井然</a>
								<div class="article-info mt-2 mb-2">
									<span class="time">2020-4-17 19:10:19</span>
									<span class="ml-1">|</span>
									<span class="comment ml-1"><i>5</i>条评论</span>
									<span class="ml-1">|</span>
									<span class="like ml-1"><i>200</i>人点赞</span>
									<span class="ml-1">|</span>
									<span class="view ml-1"><i>2000</i>人浏览</span>
								</div>
								<div class="article-desc wrap-content mt-1" title="顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片撒是打算大所多">
									顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片撒阿达的阿斗啊阿萨德
								</div>
						</div>
						<div class="article-item pb-3 bd-bottom">
							<a class="title wrap-content" title="黄山管委会：清明小长假第三天景区游览秩序井然" href="#">黄山管委会：清明小长假第三天景区游览秩序井然</a>
							<div class="article-info mt-2 mb-2">
								<span class="time">2020-4-17 19:10:19</span>
								<span class="ml-1">|</span>
								<span class="comment ml-1"><i>5</i>条评论</span>
								<span class="ml-1">|</span>
								<span class="like ml-1"><i>200</i>人点赞</span>
								<span class="ml-1">|</span>
								<span class="view ml-1"><i>2000</i>人浏览</span>
							</div>
							<div class="article-desc wrap-content mt-1" title="顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片撒是打算大所多">
								顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片撒阿达的阿斗啊阿萨德
							</div>
						</div>
						<div class="article-item pb-3 bd-bottom">
							<a class="title wrap-content" title="黄山管委会：清明小长假第三天景区游览秩序井然" href="#">黄山管委会：清明小长假第三天景区游览秩序井然</a>
							<div class="article-info mt-2 mb-2">
								<span class="time">2020-4-17 19:10:19</span>
								<span class="ml-1">|</span>
								<span class="comment ml-1"><i>5</i>条评论</span>
								<span class="ml-1">|</span>
								<span class="like ml-1"><i>200</i>人点赞</span>
								<span class="ml-1">|</span>
								<span class="view ml-1"><i>2000</i>人浏览</span>
							</div>
							<div class="article-desc wrap-content mt-1" title="顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片撒是打算大所多">
								顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片撒阿达的阿斗啊阿萨德
							</div>
						</div>
						<div class="article-item pb-3 bd-bottom">
							<a class="title wrap-content" title="黄山管委会：清明小长假第三天景区游览秩序井然" href="#">黄山管委会：清明小长假第三天景区游览秩序井然</a>
							<div class="article-info mt-2 mb-2">
								<span class="time">2020-4-17 19:10:19</span>
								<span class="ml-1">|</span>
								<span class="comment ml-1"><i>5</i>条评论</span>
								<span class="ml-1">|</span>
								<span class="like ml-1"><i>200</i>人点赞</span>
								<span class="ml-1">|</span>
								<span class="view ml-1"><i>2000</i>人浏览</span>
							</div>
							<div class="article-desc wrap-content mt-1" title="顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片撒是打算大所多">
								顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片撒阿达的阿斗啊阿萨德
							</div>
						</div>
						<div class="article-item pb-3 bd-bottom">
							<a class="title wrap-content" title="黄山管委会：清明小长假第三天景区游览秩序井然" href="#">黄山管委会：清明小长假第三天景区游览秩序井然</a>
							<div class="article-info mt-2 mb-2">
								<span class="time">2020-4-17 19:10:19</span>
								<span class="ml-1">|</span>
								<span class="comment ml-1"><i>5</i>条评论</span>
								<span class="ml-1">|</span>
								<span class="like ml-1"><i>200</i>人点赞</span>
								<span class="ml-1">|</span>
								<span class="view ml-1"><i>2000</i>人浏览</span>
							</div>
							<div class="article-desc wrap-content mt-1" title="顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片撒是打算大所多">
								顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片顺便测试图片撒阿达的阿斗啊阿萨德
							</div>
						</div>
						<nav class="mt-5">
							<ul class="pagination justify-content-center">
								<li class="page-item"><a class="page-link" href="#">首页</a></li>
								<li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
								<li class="page-item active"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#">4</a></li>
								<li class="page-item"><a class="page-link" href="#">5</a></li>
								<li class="page-item"><a class="page-link" href="#">下一页</a></li>
								<li class="page-item"><a class="page-link" href="#">末页</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="follow-list collapse">
<!--					<div class="content-view">-->
<!--						<div class="nothing">TA暂未关注任何人</div>-->
<!--					</div>-->
					<div class="content-view">
						<div class="follow-item mt-3  pb-4 bd-bottom">
							<div class="row">
								<div class="media col-md-10">
									<a href="profile.html">
										<img th:src="@{${user.headerUrl}}" style="width: 60px;height: 60px;" class="align-self-start mr-4 rounded-circle user-header" alt="用户头像" >
									</a>
									<div class="media-body">
										<div class="name mt-3">栀颜丶</div>
										<div class="mt-2">
											<span class="item">投稿</span>
											<span class="count">1213</span>
											<span class="item">关注</span>
											<span class="count">1213</span>
											<span class="item">粉丝</span>
											<span class="count">1213</span>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="fans-action-btn follow">
										<span class="fans-action-text">已关注</span>
									</div>
								</div>
							</div>
						</div>
						<div class="follow-item mt-3  pb-4 bd-bottom">
							<div class="row">
								<div class="media col-md-10">
									<a href="profile.html">
										<img th:src="@{${user.headerUrl}}" style="width: 60px;height: 60px;" class="align-self-start mr-4 rounded-circle user-header" alt="用户头像" >
									</a>
									<div class="media-body">
										<div class="name mt-3">栀颜丶</div>
										<div class="mt-2">
											<span class="item">投稿</span>
											<span class="count">1213</span>
											<span class="item">关注</span>
											<span class="count">1213</span>
											<span class="item">粉丝</span>
											<span class="count">1213</span>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="fans-action-btn follow">
										<span class="fans-action-text">已关注</span>
									</div>
								</div>
							</div>
						</div>
						<div class="follow-item mt-3  pb-4 bd-bottom">
							<div class="row">
								<div class="media col-md-10">
									<a href="profile.html">
										<img th:src="@{${user.headerUrl}}" style="width: 60px;height: 60px;" class="align-self-start mr-4 rounded-circle user-header" alt="用户头像" >
									</a>
									<div class="media-body">
										<div class="name mt-3">栀颜丶</div>
										<div class="mt-2">
											<span class="item">投稿</span>
											<span class="count">1213</span>
											<span class="item">关注</span>
											<span class="count">1213</span>
											<span class="item">粉丝</span>
											<span class="count">1213</span>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="fans-action-btn follow">
										<span class="fans-action-text">已关注</span>
									</div>
								</div>
							</div>
						</div>
						<div class="follow-item mt-3  pb-4 bd-bottom">
							<div class="row">
								<div class="media col-md-10">
									<a href="profile.html">
										<img th:src="@{${user.headerUrl}}" style="width: 60px;height: 60px;" class="align-self-start mr-4 rounded-circle user-header" alt="用户头像" >
									</a>
									<div class="media-body">
										<div class="name mt-3">栀颜丶</div>
										<div class="mt-2">
											<span class="item">投稿</span>
											<span class="count">1213</span>
											<span class="item">关注</span>
											<span class="count">1213</span>
											<span class="item">粉丝</span>
											<span class="count">1213</span>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="fans-action-btn follow">
										<span class="fans-action-text">已关注</span>
									</div>
								</div>
							</div>
						</div>
						<nav class="mt-5">
							<ul class="pagination justify-content-center">
								<li class="page-item"><a class="page-link" href="#">首页</a></li>
								<li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
								<li class="page-item active"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#">4</a></li>
								<li class="page-item"><a class="page-link" href="#">5</a></li>
								<li class="page-item"><a class="page-link" href="#">下一页</a></li>
								<li class="page-item"><a class="page-link" href="#">末页</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="fans-list collapse show">
					<!--					<div class="content-view">-->
					<!--						<div class="nothing">暂未有人关注TA</div>-->
					<!--					</div>-->
					<div class="content-view">
						<div class="fans-item mt-3  pb-4 bd-bottom">
							<div class="row">
								<div class="media col-md-10">
									<a href="profile.html">
										<img th:src="@{${user.headerUrl}}" style="width: 60px;height: 60px;" class="align-self-start mr-4 rounded-circle user-header" alt="用户头像" >
									</a>
									<div class="media-body">
										<div class="name mt-3">栀颜丶</div>
										<div class="mt-2">
											<span class="item">投稿</span>
											<span class="count">1213</span>
											<span class="item">关注</span>
											<span class="count">1213</span>
											<span class="item">粉丝</span>
											<span class="count">1213</span>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="fans-action-btn follow">
										<span class="fans-action-text">已关注</span>
									</div>
								</div>
							</div>
						</div>
						<div class="follow-item mt-3  pb-4 bd-bottom">
							<div class="row">
								<div class="media col-md-10">
									<a href="profile.html">
										<img th:src="@{${user.headerUrl}}" style="width: 60px;height: 60px;" class="align-self-start mr-4 rounded-circle user-header" alt="用户头像" >
									</a>
									<div class="media-body">
										<div class="name mt-3">栀颜丶</div>
										<div class="mt-2">
											<span class="item">投稿</span>
											<span class="count">1213</span>
											<span class="item">关注</span>
											<span class="count">1213</span>
											<span class="item">粉丝</span>
											<span class="count">1213</span>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="fans-action-btn follow">
										<span class="fans-action-text">已关注</span>
									</div>
								</div>
							</div>
						</div>
						<div class="follow-item mt-3  pb-4 bd-bottom">
							<div class="row">
								<div class="media col-md-10">
									<a href="profile.html">
										<img th:src="@{${user.headerUrl}}" style="width: 60px;height: 60px;" class="align-self-start mr-4 rounded-circle user-header" alt="用户头像" >
									</a>
									<div class="media-body">
										<div class="name mt-3">栀颜丶</div>
										<div class="mt-2">
											<span class="item">投稿</span>
											<span class="count">1213</span>
											<span class="item">关注</span>
											<span class="count">1213</span>
											<span class="item">粉丝</span>
											<span class="count">1213</span>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="fans-action-btn follow">
										<span class="fans-action-text">已关注</span>
									</div>
								</div>
							</div>
						</div>
						<div class="follow-item mt-3  pb-4 bd-bottom">
							<div class="row">
								<div class="media col-md-10">
									<a href="profile.html">
										<img th:src="@{${user.headerUrl}}" style="width: 60px;height: 60px;" class="align-self-start mr-4 rounded-circle user-header" alt="用户头像" >
									</a>
									<div class="media-body">
										<div class="name mt-3">栀颜丶</div>
										<div class="mt-2">
											<span class="item">投稿</span>
											<span class="count">1213</span>
											<span class="item">关注</span>
											<span class="count">1213</span>
											<span class="item">粉丝</span>
											<span class="count">1213</span>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="fans-action-btn follow">
										<span class="fans-action-text">已关注</span>
									</div>
								</div>
							</div>
						</div>
						<nav class="mt-5">
							<ul class="pagination justify-content-center">
								<li class="page-item"><a class="page-link" href="#">首页</a></li>
								<li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
								<li class="page-item active"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#">4</a></li>
								<li class="page-item"><a class="page-link" href="#">5</a></li>
								<li class="page-item"><a class="page-link" href="#">下一页</a></li>
								<li class="page-item"><a class="page-link" href="#">末页</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{/js/profile.js}"></script>
</body>
</html>
