<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<title>新闻推荐系统</title>
</head>
<body>
	<div class="my-container">
		<!--头部-->
		<header class = "bg-white sticky-top bd-bottom" th:fragment="header">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-light bg-white">
					<!--logo -->
					<span class="navbar-brand mb-0 font-weight-bold" style="color: #fd4c5b">News</span>
					<!--功能 -->
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon float-right"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<!-- 首页 -->
							<li class="nav-item">
								<a class="nav-link ml-3" th:href="@{/}">首页</a>
							</li>
						</ul>
						<!-- 搜索 -->
						<form class="form-inline my-2 my-lg-0 ml-auto">
							<input class="form-control" type="search" placeholder="搜索新闻资讯" aria-label="search">
							<button class="btn btn-main my-2 my-sm-0 ml-1" type="submit">
								<img th:src="@{/img/search.svg}">
							</button>
						</form>
						<ul class="navbar-nav ml-auto">
							<li class="nav-item ml-3" th:if="${loginUser==null}" >
								<a class="nav-link" th:href="@{/register} ">注册</a>
							</li>
							<li class="nav-item ml-3" th:if="${loginUser==null}">
								<a class="nav-link" th:href="@{/login}">登陆</a>
							</li>
							<li class="nav-item ml-3" th:if="${loginUser!=null}">
								<a class="nav-link" th:href="@{/letter/list}">消息</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical dropdown" th:if="${loginUser!=null}">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="avatar-holder">
										<img th:src="${loginUser.headerUrl}" class="avatar-img" style="width:30px;"/>
									</span>
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item text-center" target="_blank" th:href="@{|/user/profile/${loginUser.id}|}">个人主页</a>
									<a class="dropdown-item text-center" target="_blank" th:href="@{/user/setting}">修改信息</a>
									<a class="dropdown-item text-center" target="_blank" th:href="@{/favorites}">我的收藏</a>
									<a class="dropdown-item text-center" target="_blank" href="site/profile.html">我的动态</a>
									<a class="dropdown-item text-center" target="_blank" th:href="@{/logout}">退出登录</a>
									<div class="dropdown-divider"></div>
									<span class="dropdown-item text-center text-secondary" >宾斯基</span>
								</div>
							</li>
						</ul>
						<ul class="navbar-nav">
							<a th:href="@{/news/publish}">
								<button type="button" class="btn btn-sm btn-contribute navbar-btn ml-3" style="color: white">投稿</button>
							</a>
						</ul>
					</div>
				</nav>
			</div>
		</header>

		<!--内容 -->
		<div class="main">
			<div class="container">
				<div class="row">
					<!-- 左侧栏 -->
					<div class="col-lg-2 d-none d-lg-block">
						<div class="list-group side-bar category"  data-th-attr="categoryId=0" th:fragment="side-bar">
							<a href="#" class="list-group-item active">推荐</a>
							<a href="#" class="list-group-item">科技</a>
							<a href="#" class="list-group-item">生活</a>
							<a href="#" class="list-group-item">动画</a>
							<a href="#" class="list-group-item">游戏</a>
							<a href="#" class="list-group-item">娱乐</a>
							<a href="#" class="list-group-item">体育</a>
							<a href="#" class="list-group-item">财经</a>
							<a href="#" class="list-group-item">国际</a>
							<a href="#" class="list-group-item">军事</a>
						</div>
					</div>
					<!--中间栏 -->
					<div class="col-lg-7 content-box">
						<!--排序方式 -->
						<div class="dropdown show sort-name">
							<a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								默认排序
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<a class="dropdown-item" href="#">投稿时间排序</a>
								<a class="dropdown-item" href="#">评论数最多</a>
								<a class="dropdown-item" href="#">收藏数最多</a>
								<a class="dropdown-item" href="#">点赞数最多</a>
							</div>
						</div>
						<!--新闻列表 -->
						<ul class="list-unstyled article-list">
							<li class="media pb-2 pt-2 mb-2 border-bottom"  th:each="map:${news}">
								<div class="media-body">
									<h5 class="mt-0 mb-0" style="width: 600px">
										<a class="wrap-content"  target="_blank" th:href="@{|/news/detail/${map.news.id}|}" th:title="${map.news.title}" th:utext="${map.news.title}"></a>
									</h5>
									<div class="article-desc mt-1 mb-2 wrap-content" style="width: 600px" th:utext="${map.news.content}"></div>
									<div class="article-info-bar text-muted font-size-12">
										<a class="up-content mr-5" th:href="@{|/user/profile/${map.user.id}|}" target="_blank">
										<span class="face-holder">
											<img th:src="${map.user.headerUrl}" class="face-img">
										</span>
											<span class="nick-name" th:utext="${map.user.username}">宾斯基</span>
										</a>
										发布于 <label th:utext="${#dates.format(map.news.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</label>
										<ul class="d-inline float-right">
											<li class="d-inline ml-2">浏览 111</li>
											<li class="d-inline ml-2">|</li>
											<li class="d-inline ml-2">赞 <i th:utext="${map.likeCount}"></i></li>
											<li class="d-inline ml-2">|</li>
											<li class="d-inline ml-2">回复 7</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
<!--							<div class="page" th:if="${page.total > 1}">-->
<!--								<nav class="mt-5"  th:fragment="page-nav">-->
<!--									<ul class="pagination justify-content-center">-->
<!--										<li class="page-item" th:classappend="${page.current==1?'disabled':''}">-->
<!--											<a class="page-link" href="javascript:void(0)"-->
<!--											   data-th-attr="pageIndex=${page.current}">首页</a>-->
<!--										</li>-->
<!--										<li class="page-item" th:classappend="${page.current==1?'disabled':''}">-->
<!--											<a class="page-link" href="javascript:void(0)"-->
<!--											   data-th-attr="pageIndex=${page.current}-1">上一页</a>-->
<!--										</li>-->
<!--										<li class="page-item" th:classappend="${i==page.current?'active':''}" th:each="i:${#numbers.sequence(page.from, page.to)}">-->
<!--											<a class="page-link" href="javascript:void(0)"-->
<!--											   data-th-attr="pageIndex=${i}" th:text="${i}"></a>-->
<!--										</li>-->
<!--										<li class="page-item" th:classappend="${page.current==page.total?'disabled':''}">-->
<!--											<a class="page-link" href="javascript:void(0)"-->
<!--											   data-th-attr="pageIndex=${page.current}+1">下一页</a>-->
<!--										</li>-->
<!--										<li class="page-item" th:classappend="${page.current==page.total?'disabled':''}">-->
<!--											<a class="page-link" href="javascript:void(0)"-->
<!--											   data-th-attr="pageIndex=${page.total}">末页</a>-->
<!--										</li>-->
<!--									</ul>-->
<!--								</nav>-->
<!--							</div>-->
						<!-- 分页 -->
						<nav class="mt-5" th:if="${page.total>1}" th:fragment="page-nav">
							<ul class="pagination justify-content-center">
								<li th:class="|page-item ${page.current==1?'disabled':''}|">
									<a class="page-link" th:href="@{${page.path}(current=1)}">首页</a>
								</li>
								<li th:class="|page-item ${page.current==1?'disabled':''}|">
									<a class="page-link" th:href="@{${page.path}(current=${page.current}-1)}">上一页</a>
								</li>
								<li th:class="|page-item ${i==page.current?'active':''}|" th:each="i:${#numbers.sequence(page.from, page.to)}">
									<a class="page-link" th:href="@{${page.path}(current=${i})}" th:text="${i}">1</a>
								</li>
								<li th:class="|page-item ${page.current==page.total?'disabled':''}|">
									<a class="page-link" th:href="@{${page.path}(current=${page.current}+1)}">下一页</a>
								</li>
								<li th:class="|page-item ${page.current==page.total?'disabled':''}|">
									<a class="page-link" th:href="@{${page.path}(current=${page.total})}">末页</a>
								</li>
							</ul>
						</nav>
					</div>
					<!--右侧栏 -->
					<div class="col-lg-3 d-none d-lg-block">
						<div class="side-bar-card ">
							<div class="card-title bd-bottom">近期热闻</div>
							<ul class="rank-list">
								<li class="item">
									<span class="rank-index">1</span>
									<span class="rank-title">
										<a href="#" target="_blank" class="rank-wrap-content" title="关于商业，给你一顿毒打。毒打毒打独大独大独大">关于商业，给你一顿毒打。毒打毒打大独大独大</a>
									</span>
								</li>
								<li class="item">
									<span class="rank-index">2</span>
									<a href="#" target="_blank">肖战粉丝偷袭AO3始末</a>
								</li>
								<li class="item">
									<span class="rank-index">3</span>
									<a href="#" target="_blank">道歉和澄清</a>
								</li>
								<li class="item">
									<span class="rank-index">4</span>
									<a href="#" target="_blank">关于商业，给你一顿毒打。</a>
								</li>
								<li class="item">
									<span class="rank-index">5</span>
									<a href="#" target="_blank">肖战粉丝偷袭AO3始末</a>
								</li>
								<li class="item">
									<span class="rank-index">6</span>
									<a href="#" target="_blank">道歉和澄清</a>
								</li>
								<li class="item">
									<span class="rank-index">7</span>
									<a href="#" target="_blank">关于商业，给你一顿毒打。</a>
								</li>
								<li class="item">
									<span class="rank-index">8</span>
									<a href="#" target="_blank">肖战粉丝偷袭AO3始末</a>
								</li>
								<li class="item">
									<span class="rank-index">9</span>
									<a href="#" target="_blank">道歉和澄清</a>
								</li>
								<li class="item">
									<span class="rank-index">10</span>
									<a href="#" target="_blank">道歉和澄清</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{js/index.js}"></script>
</body>
</html>
